@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

@using debt_snowball.Data
@inject ApplicationDbContext DbContext
@inject IdentityUserAccessor UserAccessor

<h3>Add Debt</h3>


<EditForm Model="@Input" OnValidSubmit="@HandleSubmit" FormName="DebtForm" class="bg-blue-950 text-white p-4 flex flex-col gap-2 rounded-sm shadow-lg max-w-md items-center md:min-w-[500px]">
    <DataAnnotationsValidator />
    <h2 class="text-2xl font-extrabold tacking-tight">Add a debt</h2>

    <div class="flex flex-col w-[100%]">
        <label for="name">Debt Name:</label>
        <InputText id="name" @bind-Value="Input.Name" class="p-1 text-blue-950" />
    </div>
    <div class="flex flex-col w-[100%]">
        <label for="rate">Interest Rate (%):</label>
        <InputNumber id="rate" @bind-Value="Input.Rate" class="p-1 text-blue-950" />
    </div>
    <div class="flex flex-col w-[100%]">
        <label for="balance">Balance:</label>
        <InputNumber id="balance" @bind-Value="Input.Balance" class="p-1 text-blue-950" />
    </div>
    <div class="flex flex-col w-[100%]">
        <label for="minPayment">Minimum Payment:</label>
        <InputNumber id="minPayment" @bind-Value="Input.MinimumPayment" class="p-1 text-blue-950" />
    </div>
    <div class="flex flex-col w-[100%]">
        <label for="dueDay">Due Day (Day of the Month):</label>
        <InputNumber id="dueDay" @bind-Value="Input.DueDay" class="p-1 text-blue-950" />
    </div>

    <button class="inline-flex items-center rounded-md shadow-md pt-2" type="submit">

        <span class="inline-flex items-center justify-center px-5 py-1 border border-transparent text-base font-extrabold rounded-md bg-cyan-50 text-blue-950 hover:bg-blue-100">
            Add Debt  <img src="./yeti.png" alt="Yeti Debt Snowball" class="h-10 w-10" />
        </span>
    </button>
</EditForm>
@code {
    private List<Debt> debts;
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;
    private string formHidden = "hidden";

    [Parameter]
    public string userId { get; set; } = default!;

    [CascadingParameter]
    private HttpContext HttpContexta { get; set; } = default!;

    [SupplyParameterFromForm]
    private DebtInputModel Input { get; set; } = new DebtInputModel();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContexta);
        Console.WriteLine(user);
    }

    private async Task HandleSubmit()
    {
        var newDebt = new Debt
            {
                Name = Input.Name,
                Rate = Input.Rate,
                Balance = Input.Balance,
                MinimumPayment = Input.MinimumPayment,
                DueDay = Input.DueDay,
                User = user
            };

        DbContext.Debts.Add(newDebt);
        await DbContext.SaveChangesAsync();

    }

    private sealed class DebtInputModel
    {
        [Required]
        public string Name { get; set; } = "Chase Sapphire Preferred";

        [Required]
        [Range(0, double.MaxValue)]
        public double Rate { get; set; } = 15.99;

        [Required]
        [Range(0, double.MaxValue)]
        public double Balance { get; set; } = 1000;

        [Required]
        [Range(0, double.MaxValue)]
        public double MinimumPayment { get; set; } = 25;

        [Required]
        [Range(1, 31)]
        public int DueDay { get; set; } = 1;
    }

}
