@page "/debt"


@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using debt_snowball.Data



@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext DbContext

<PageTitle>User Debts</PageTitle>

<h1>Your Debts</h1>

@user?.Email




    




@if (debts != null && debts.Any())
{
    <UserDebts extraPayment="@extraPayment" user="@user?.Id"  ></UserDebts>
    
}
else
{
    <p>No debts found.</p>
}


<!-- Debt Submission Form -->
<EditForm Model="@Input" OnValidSubmit="@HandleSubmit" FormName="DebtForm">
    <DataAnnotationsValidator />

    <div>
        <label for="name">Debt Name:</label>
        <InputText id="name" @bind-Value="Input.Name" />
    </div>
    <div>
        <label for="rate">Interest Rate (%):</label>
        <InputNumber id="rate" @bind-Value="Input.Rate" />
    </div>
    <div>
        <label for="balance">Balance:</label>
        <InputNumber id="balance" @bind-Value="Input.Balance" />
    </div>
    <div>
        <label for="minPayment">Minimum Payment:</label>
        <InputNumber id="minPayment" @bind-Value="Input.MinimumPayment" />
    </div>
    <div>
        <label for="dueDay">Due Day (Day of the Month):</label>
        <InputNumber id="dueDay" @bind-Value="Input.DueDay" />
    </div>

    <button type="submit">Add Debt</button>
</EditForm>

@code {
    private List<Debt> debts;
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;

    [Parameter]
    public int extraPayment { get; set; } = 0; 

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private DebtInputModel Input { get; set; } = new DebtInputModel();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        if(user != null)
        {
            debts = DbContext.Debts.Where(d => d.User == user).ToList();
        }

    }

    private async Task HandleSubmit()
    {
        var newDebt = new Debt
            {
                Name = Input.Name,
                Rate = Input.Rate,
                Balance = Input.Balance,
                MinimumPayment = Input.MinimumPayment,
                DueDay = Input.DueDay,
                User = user
            };

        DbContext.Debts.Add(newDebt);
        await DbContext.SaveChangesAsync();
        debts = DbContext.Debts.Where(d => d.User == user).ToList();
    }

    //update the label for the slider
    private void updateSliderLabel()
        {
            extraPayment = Convert.ToInt32(extraPayment);
            Console.WriteLine(extraPayment);
        }

    async Task hello()
    {
        if (extraPayment != default)
        {
            extraPayment = Convert.ToInt32(extraPayment);
            Console.WriteLine(extraPayment);
        }
    }
   



    private sealed class DebtInputModel
    {
        [Required]
        public string Name { get; set; }

        [Required]
        [Range(0, double.MaxValue)]
        public double Rate { get; set; }

        [Required]
        [Range(0, double.MaxValue)]
        public double Balance { get; set; }

        [Required]
        [Range(0, double.MaxValue)]
        public double MinimumPayment { get; set; }

        [Required]
        [Range(1, 31)]
        public int DueDay { get; set; } // Day of the month for the due date
    }
}
