@inherits LayoutComponentBase

<div class="min-h-[100vh]">
    <div class="">
        <NavMenu />
    </div>

    <main>
       

        <article class="bg-blue-50 text-blue-950 min-h-[80vh]">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
