@implements IDisposable

@inject NavigationManager NavigationManager



<div class="" >
    <nav class="bg-blue-950 flex p-2 gap-5 justify-between">

        <NavLink class="p-1 text-white no-underline" href="" Match="NavLinkMatch.All">
          <img src="./yeti.png" alt="Yeti Debt Snowball" class="h-10 w-10" />
        </NavLink>
        <div class="flex gap-2 items-center text-white mr-4">
       

            <AuthorizeView>
                <Authorized>
                    <NavLink class="no-underline hover:underline" href="Debt">
                       Your Snowball
                    </NavLink>

                    <NavLink class="no-underline hover:underline" href="Account/Manage">
                        Profile
                    </NavLink>


                    


                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="hover:underline">
                            Logout
                        </button>
                    </form>

                </Authorized>
                <NotAuthorized>

                    <NavLink class="p-1 text-white no-underline" href="Account/Register">
                        Register
                    </NavLink>


                    <NavLink class="p-1 text-white no-underline" href="Account/Login">
                        Login
                    </NavLink>

                </NotAuthorized>
            </AuthorizeView>
         </div>

      



       
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

